img[src*='#icon'] {
  width: 50;
}

.text-underline-animation-class:hover {
  text-decoration: underline;
}

.formula {
  text-align: center;
  margin: 3rem 0;
}

.image-center {
  display: block;
  margin: 0 auto;
}
